/*------------------------------------*\
    #Section META
\*------------------------------------*/
.section {
    /*
     * Don't touch .flow-text because
     * it has special properties defined by
     * materialize.css. All other based in at 18px.
     */
}

.section p:not(.flow-text) {
    font-size: 1.2rem;
}

.section h2 {
    color: #DD5A2B;
    font-weight: bold;
    margin: 3rem 0 4rem;
}

.section .btn {
    background-color: #26a69a;
}

/*------------------------------------*\
    #HERO Section
\*------------------------------------*/
.section__hero {
    height: 100vh;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    background-color: #03a9f4;
}

.section__hero h1.header,
.section__hero h5.header {
    color: white;
}

.section__hero h5 {
    line-height: 2.3rem;
}

.section__hero h5 span {
    border-bottom: 2px solid white;
}

.section__hero h1 {
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 1.10;
    color: #393939;
}

.section__hero .btn {
    color: #03a9f4;
    font-size: 1.5em;
    width: 20rem;
    margin-top: 1.5rem;
}

.section__hero .btn-large {
    height: 74px;
    line-height: 76px;
}

.section__hero .btn .icon {
    display: inline-block;
    width: 2em;
    height: 1.8em;
    fill: currentColor;
    vertical-align: middle;
}

.section__hero .songbox {
    display: inline-block;
    height: 330px;
    background-image: url("/static/favicon/ms-icon-310x310.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.section__hero .btn__main-cta {
    height: 3rem;
}

@media (max-width: 993px) {
    .section__hero {
        height: auto;
    }

    .section__hero h1 {
        font-size: 3.5rem;
    }
}

/*------------------------------------*\
    #Section WEBAPP
\*------------------------------------*/

#app {
    color: #666;
}

.pointer {
    cursor: pointer;
}

.container.long {
    margin-top: 3em;
    margin-bottom: 6em;
}

.material-icons.custom {
    color: #03a9f4;
}

.player {
    background: #ffffff;
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    padding: 1em 0;
    position: fixed;
    width: 100%;
}

.player .data {
    height: 1.5em;
}

.player .data .title {
    float: left;
}

.player .data .time {
    float: right;
}

.player .data .time .light {
    color: #cccccc;
}

.player .data .time .divisor {
    margin: 0 2px;
}

.player .controls {
    float: left;
    padding: 0.25em 0.25em 0.25em 0;
}

.player .controls .btn {
    margin: 0 3px;
    padding: 0 10px;
}

.player .controls .btn:first-child {
    margin-left: 0;
}

.player .progress {
    background-color: #bbdefb;
    height: 1em;
    overflow: hidden;
    top: 8px;
    width: auto;
}

.player .progress .determinate {
    background-color: #03a9f4;
}

.player .volume {
    float: right;
    padding: 0.25em;
}
