/*------------------------------------*\
    LANDING
\*------------------------------------*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.big-screen {
    background-image: url("../img/bkg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.big-screen h5 {
    color: #02312D;
    font-size: 3em;
    font-weight: 300;
    margin-top: 18rem;
}

.big-screen h5 span {
    font-weight: 700;
}

.big-screen .btn {
    color: #02312D;
    font-size: 1.5em;
    width: 20rem;
    margin-top: 1.5rem;
    text-transform: none;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 3.5em;
}

.big-screen .btn-large {
    height: 74px;
    line-height: 76px;
}

.big-screen .btn .icon {
    display: inline-block;
    width: 2em;
    height: 100%;
    fill: #03a9f4;
    vertical-align: middle;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(3, 169, 244, 0.65);
}

/*------------------------------------*\
    WEBAPP
\*------------------------------------*/

/*
lightest - DBEEFD
lighter - 60A4D8
light - 3A8ECE
primary - 157AC8
dark - 0760A5
darker - 05497E

yellow - C4B200
*/

#app {
    color: #666;
}

.main.container {
    padding-bottom: 5em;
}

a,
.pointer {
    cursor: pointer;
}

.no-songs {
    height: 10rem;
}

.collection.playlists {
    border: none;
}

.collection.playlists .collection-item {
    border: none;
    color: #157AC8;
}

.collection.playlists .collection-item a.truncate {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 2em);
}

.collection.playlists .collection-item.active {
    background-color: #95C2E4;
    color: white;
}

.collection.playlists .collection-item.active .el {
    /*color: #f4e242;*/
    color: #f7e983;
}

.collection.playlists .collection-item:not(.active):hover {
    background-color: #DBEEFD;
}

.collection.playlists .collection-item .el {
    color: #C4B200;
    margin-right: 0.5em;
}

/**/

.collection.songs .collection-item a,
.collection.songs .collection-item .el {
    color: #157AC8;
}

.collection.songs .collection-item a.truncate {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 2em);
}

.collection.songs .collection-item.active {
    background-color: #95C2E4;
}

.collection.songs .collection-item.active a,
.collection.songs .collection-item.active i {
    color: white;
}

.collection.songs .collection-item:not(.active):hover {
    background-color: #DBEEFD;
}

.container.long {
    margin-top: 3em;
    margin-bottom: 6em;
}

.preloader-wrapper {
    bottom: 7.5em;
    position: fixed;
    right: 1em;
    z-index: 9;
}

.preloader-wrapper.small {
    width: 24px;
    height: 24px;
}

.player {
    background: #ffffff;
    bottom: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    left: 0;
    padding: 1em 0;
    position: fixed;
    width: 100%;
}

.player .data {
    height: 1.5em;
}

.player .data .title {
    float: left;
}

.player .data .time {
    float: right;
}

.player .data .time .light {
    color: #cccccc;
}

.player .data .time .divisor {
    margin: 0 2px;
}

.player .controls {
    float: left;
    padding: 0.25em 0.25em 0.25em 0;
}

.player .controls .btn {
    margin: 0 3px;
    padding: 0 10px;
}

.player .controls .btn:first-child {
    margin-left: 0;
}

.player .controls .btn .el {
    font-size: 1em;
}

.player .progress {
    background-color: #bbdefb;
    height: 1em;
    overflow: hidden;
    top: 8px;
    width: auto;
}

.player .progress .determinate {
    background-color: #03a9f4;
}

.player .volume {
    float: right;
    padding: 0.25em;
}
